.vscode
.idea
cmake-build-debug
record_youbot.bash
.devcontainer/devcontainer.json
ORB_SLAM3/build/*
ORB_SLAM3/CMakeFiles/
ORB_SLAM3/CMakeLists.txt.user
ORB_SLAM3/CMakeLists_modified.txt
ORB_SLAM3/Examples/RGB-D/rgbd_tum
ORB_SLAM3/Examples/Monocular/mono_euroc
ORB_SLAM3/Examples/Monocular/mono_kitti
ORB_SLAM3/Examples/Monocular/mono_tum
ORB_SLAM3/Examples/Monocular/mono_tum_vi
ORB_SLAM3/Examples/Stereo/stereo_euroc
ORB_SLAM3/Examples/Stereo/stereo_kitti
ORB_SLAM3/Examples/Stereo/stereo_tum_vi
ORB_SLAM3/Examples/Monocular-Inertial/mono_inertial_euroc
ORB_SLAM3/Examples/Monocular-Inertial/mono_inertial_tum_vi
ORB_SLAM3/Examples/Stereo-Inertial/stereo_inertial_euroc
ORB_SLAM3/Examples/Stereo-Inertial/stereo_inertial_tum_vi
ORB_SLAM3/Examples/ROS/ORB_SLAM3/Mono
ORB_SLAM3/Examples/ROS/ORB_SLAM3/Mono_Inertial
ORB_SLAM3/Examples/ROS/ORB_SLAM3/MonoAR
ORB_SLAM3/Examples/ROS/ORB_SLAM3/RGBD
ORB_SLAM3/Examples/ROS/ORB_SLAM3/Stereo
ORB_SLAM3/Examples/ROS/ORB_SLAM3/Stereo_Inertial
ORB_SLAM3/Examples/ROS/ORB_SLAM3/CMakeLists.txt.user
ORB_SLAM3/Examples/ROS/ORB_SLAM3/build/
ORB_SLAM3/KeyFrameTrajectory.txt
ORB_SLAM3/CameraTrajectory.txt
ORB_SLAM3/kf_*.txt
ORB_SLAM3/f_*.txt
ORB_SLAM3/Thirdparty/DBoW2/build/
ORB_SLAM3/Thirdparty/DBoW2/lib/
ORB_SLAM3/Thirdparty/g2o/build/
ORB_SLAM3/Thirdparty/g2o/config.h
ORB_SLAM3/Thirdparty/g2o/lib/
ORB_SLAM3/Vocabulary/ORBvoc.txt
ORB_SLAM3/build/
ORB_SLAM3/lib/
ORB_SLAM3/cmake-build-debug/
ORB_SLAM3/*.pyc
ORB_SLAM3/*.osa
ORB_SLAM3/ORBvoc.txt
ORB_SLAM3/.vscode/
ORB_SLAM3/Examples/Monocular/mono_openloris
ORB_SLAM3/.gitignore
ORB_SLAM3/Examples/Monocular/mono_openloris
ORB_SLAM3/Examples/Monocular/mono_openloris_t265
ORB_SLAM3/Makefile
